<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>My Fitness Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://cdn.tiny.cloud/1/fy171n7cja99033f72g6pet470lm4c7guy1dgyfkrr2zojsi/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  
  <script>
    tinymce.init({
      selector: '#mytextarea'
    });
  </script>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">MY FITNESS JOURNAL</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        
        <li id="home"><a href="/">HOME</a></li>
        <li id="compose"><a href="/compose">COMPOSE</a></li>
      </ul>
    </div>
  </nav>
  </head>

<body>
  <div class="container">